@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0); /* Firefox */
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar (for horizontal scrollbar) */
}

/* Track (part the scrollbar slides within) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* Transparent track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Light gray color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  transition: background-color 0.3s ease; /* Smooth color change */
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* Darker thumb on hover */
}

/* Class to hide the scrollbar but keep content scrollable */
.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;      /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Webkit browsers like Chrome, Safari */
}
